<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\css\styles.css">
    <link rel="stylesheet" href="\css\styles_tablet.css">
    <link rel="stylesheet" href="\css\styles_desk.css">
    <link rel="stylesheet" href="\css\header.css">
    <link rel="stylesheet" href="\css\header_tablet.css">

</head>

<body>
    <header id="encabezado">
        <div id="header-top-bar">
            <img src="\imagenes\logo-mercado-liebre.svg" id="logo">
            <div id="busqueda">
                <form action="Get">
                    <input placeholder="Buscar productos,marcas y mas" type="text" name="user" id="name"
                        data-error="Error">
                </form>
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <h2 id="copia-encabezado">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
        </article>
        <nav class="navbar">
            <ul class="link-encabezado">
                <li><a href="Ofertas"> Ofertas </a></li>
                <li><a href="Tiendas Oficiales"> Tiendas Oficiales </a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
            <ul class="link-usuario">
                <li></i><a href="register">Creá tu cuenta</a><i class="fa-solid fa-id-card dimicons"></i></li>
                <li></i><a href="login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket dimicons"></i></li>
                <li></i><a href="Mis compras">Mis compras</a><i class="fa-solid fa-cart-shopping dimicons"></i></li>
            </ul>
        </nav>

        <article>
            <div >
                <i class="fas fa-bars hamburguesa-icon"> </i>
            </div>
        </article>
    </header>



    <section>
        <img id="homeBanner" src="\imagenes\img-home-banner.jpg" alt="Banner">
    </section>
    <main>
        <section class="principal">
            <h3 id="titulares">Basado en tu última visita</h3>
            <div class="producto">
                <article class="articulo">
                    <img src="\imagenes\img-cafetera-moulinex.jpg" alt="Cafetera" class="imagen">
                    <div class="main_articulo">
                        <i class="fas fa-truck "></i>
                        <p class="pdv">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descrip">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="articulo">
                    <figure><img src="\imagenes\img-macbook-pro-2019.jpg" alt="MacBook" class="imagen">
                    </figure>
                    <div class="main_articulo">
                        <i class="fas fa-truck"></i>
                        <p class="pdv">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descrip">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="articulo">
                    <figure><img src="\imagenes\img-samsung-galaxy-s10.jpg" alt="Galaxy" class="imagen">
                    </figure>
                    <div class="main_articulo">
                        <i class="fas fa-truck"></i>
                        <p class="pdv">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descrip">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <figure><img src="\imagenes\img-tv-samsung-smart.jpg" alt="SmartTv" class="imagen">
                    </figure>
                    <div class="main_articulo">
                        <i class="fas fa-truck"></i>
                        <p class="pdv">$23.200</p>
                        <p class="descuento">50% OFF</p>
                        <p class="descrip">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section class="principal">
            <h3 id="titulares">Ofertas</h3>
            <div class="producto">
                <article class="articulo">
                    <figure><img src="\imagenes\img-cafetera-moulinex.jpg" alt="Cafetera" class="imagen">
                    </figure>
                    <div class="main_articulo">
                        <i class="fas fa-truck"></i>
                        <p class="pdv">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descrip">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="articulo">
                    <figure><img src="\imagenes\img-macbook-pro-2019.jpg" alt="MacBook" class="imagen">
                    </figure>
                    <div class="main_articulo">
                        <i class="fas fa-truck"></i>
                        <p class="pdv">$230.00</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descrip">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="articulo">
                    <figure><img src="\imagenes\img-samsung-galaxy-s10.jpg" alt="Galaxy" class="imagen">
                    </figure>
                    <div class="main_articulo">
                        <i class="fas fa-truck"></i>
                        <p class="pdv">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descrip">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <figure><img src="\imagenes\img-tv-samsung-smart.jpg" alt="SmartTv" class="imagen">
                    </figure>
                    <div class="main_articulo">
                        <i class="fas fa-truck"></i>
                        <p class="pdv">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descrip">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="foot">
        <nav class="nav_foot">
            <i class="fa-solid fa-credit-card iconsfoot"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <h2>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</h2>
        </nav>

        <nav class="nav_foot">
            <i class="fa-solid fa-gift iconsfoot"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <h2>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</h2>
        </nav>
        <nav class="nav_foot">
            <i class="fa-solid fa-user-shield iconsfoot"></i>
            <h3>Seguridad, de principio a fin</h3>
            <h2>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</h2>
        </nav>
        <nav class="nav_foot">
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </nav>
    </footer>

</body>

</html>