h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 2em;
}

.formulario {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

input, button{
    max-width: 100%;
    padding: 9px;
    margin: 10px 5px;
    border-radius: 5px;
    border: none;
}

.subtitulo{
    font-weight: bold;
    padding: 10px 5px;
    font-size: 16px;
}

.botones{
    display: flex;
    flex-direction: row;
       
}



#botonReseteo:hover {
    background-color: #CC1155;
}



#botonIngreso:hover {
    background-color: green;
}
  

#botonIngreso {
    width: 50%;
    border-style: none;
    
    border-radius: 5px;
    color: white;
    background-color: #1259c3;
    border: solid 1px #666;
}

#botonReseteo {
    width: 50%;
    border-style: none;
    
    border-radius: 5px;
    color: white;
    background-color: #1259c3;
}

.botones a {
    text-decoration: none;
    color: white;
}


@media(min-width: 361px) {
    main {
        margin: 40px auto;
        max-width: 60%;
    }
}

@media(min-width: 769px) {
    main {
        margin: 40px auto;
        max-width: 30%;
    }
}